@model IEnumerable<eCommerceProject.Models.BannerSlider>
@{
	ViewBag.Title = "Banner Image Manage";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/toastr.css" rel="stylesheet" />

<div class="page-header">
	<h2 class="header-title">@ViewBag.Title</h2>
	<div class="header-sub-title">
		<nav class="breadcrumb breadcrumb-dash">
			<a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
			<a class="breadcrumb-item" href="#">Images</a>
			<span class="breadcrumb-item active">@ViewBag.Title</span>
		</nav>
	</div>
	<div nclass="container wrap">
		<button value="Create" type="button" class="btn btn-primary btn-tone" data-toggle="modal" data-target="#myModal">
			<i class="anticon anticon-plus"></i> Create
		</button>
	</div>
</div>



<!-- Add Banner Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2>Create</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="formStudentId">
				@{
					Html.RenderAction("CreateBanner", "Admin");
				}
			</div>
		</div>
	</div>
</div>

<table class="table">
	<thead>
		<tr>

			<th scope="col">Tilte</th>
			<th scope="col">Description</th>
			<th scope="auto">ImagePath</th>
			<th scope="auto">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
			{
				<tr>

					<td>@item.Title</td>
					<td>@item.Description</td>
					<td><img class="col-md-12" src="@Url.Content(@item.ImagePath)" /></td>
					<td class="col-sm-3">

						<button type="button" value="Delete" class="btn btn-danger btn-tone" onclick="remove(@item.Id)"><i class="fas fa-trash"></i></button>
						
						<button data-id="@item.Id" data-toggle="modal" class="btn btn-success btn-tone btnEdit"  data-target="#myModalS"><i class="fas fa-edit"></i></button>
						@*@Html.ActionLink("Delete", "DeleteBanner", new { id = item.Id },
		new { onclick = "return confirm('Are you sure wants to delete?');" })*@

					</td>
				</tr>
				<!-- Update Banner Modal -->
				<div class="modal fade" id="myModalS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h2>Update</h2>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body" id="updateBanner">
								<div id="modal-content"></div>
							</div>
						</div>
					</div>
				</div>
			}
	
	</tbody>
</table>
@section scripts{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script type="text/javascript">

		function remove(id) {
			swal({
				title: "Are you sure?",
				text: "Once deleted, you will not be able to recover your image!",
				icon: "warning",
				buttons: true,
				dangerMode: true,
			})
				.then((willDelete) => {
					event.preventDefault()
					if (willDelete) {
						$.ajax({
							type: "POST",
							url: "/Admin/Admin/DeleteBanner/" + id,
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							success: function (response) {
								swal("Banner Image has been deleted!", {
									icon: "success",
								}).then(function () {
									window.location.reload();
								});

							},
							failure: function (response) {
								swal("Banner Image has been deleted!", {
									icon: "success",
								}).then(function () {
									window.location.reload();
								});
							},
							error: function (response) {
								swal("Banner Image has been deleted!", {
									icon: "success",
								}).then(function () {
									window.location.reload();
								});
							}

						});

					}
					else {
						swal("Let's Continue!");
					}
				});
		}
		$('.btnEdit').click(function (eve) {
			$('#modal-content').load("/Admin/Admin/UpdateBanner/" + $(this).data("id"));
		});
	</script>
}