@model eCommerceProject.Models.Order
@{
	ViewBag.Title = "ChangeStatus";
	Layout = "~/Areas/Admin/Views/Shared/_BlankLayout.cshtml";
}


<div class="modal-body">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">THÔNG TIN ĐƠN HÀNG #@Model.OrderId</h4>
			<div class="table-responsive">
				<table class="product-info-table m-t-20">
					<tbody>
						<tr>
							<td>ID:</td>
							<td class="text-dark font-weight-semibold">#@Model.OrderId</td>
						</tr>
						<tr>
							<td>Ngày mua hàng:</td>
							<td>@Model.OrderDate</td>
						</tr>
						<tr>
							<td>Khách hàng:</td>
							<td>@Model.Customer.FullName</td>
						</tr>
						<tr>
							<td>Số điện thoại:</td>
							<td>@Model.Customer.PhoneNumber</td>
						</tr>
						<tr>
							<td>Địa chỉ:</td>
							<td>@Model.Customer.Address</td>
						</tr>
						<tr>
							<td>Tổng tiền:</td>
							<td>@Model.TotalMoney.ToString("#,##0") VNĐ</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			@using (Html.BeginForm("ChangeStatus", "Order", FormMethod.Post))
			{

				<input type="hidden" asp-for="OrderId" />
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>Chọn trạng thái đơn hàng</label>
							@Html.DropDownList("TransactStatusId", (IEnumerable<SelectListItem>)ViewBag.TrangThai, "--Select Status--", new { @class = "form-control col-md-12 " })

						</div>
					</div>
					<div class="form-group">
						@Html.Label("Pay", htmlAttributes: new { @class = "control-label col-md-8" })
						<div class="col-md-12">
							@Html.CheckBoxFor(model => model.Paid, new { data_toggle = "toggle", data_onstyle = "success" })

							@Html.ValidationMessageFor(m => m.Paid, "", new { @class = "text-danger" })
						</div>
					</div>
					<br />
					<div class="form-group">
						@Html.Label("Delete", htmlAttributes: new { @class = "control-label col-md-8" })
						<div class="col-md-12">
							@Html.CheckBoxFor(model => model.Deleted, new { data_toggle = "toggle", data_onstyle = "success" })

							@Html.ValidationMessageFor(m => m.Deleted, "", new { @class = "text-danger" })
						</div>
					</div>

				</div>
				<button type="submit" class="btn btn-success">Save</button>
			}
		</div>

	</div>
</div>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
	$(function () {
		function togglePackage() {
			var isPackage = $("#package-checkbox").is(":checked");
			if (isPackage) {
				$("#datapoint-checkbox").prop("checked", true).prop("disabled", true);
				$("input[type='hidden'][name='Paid']").val("true");
			}
			else {
				$("#datapoint-checkbox").prop("disabled", false);
				$("input[type='hidden'][name='Deleted']").val("false");
			}
		};
		$(document).on('change', '#package-checkbox', togglePackage);
		togglePackage();
	});
</script>