@model List<eCommerceProject.ViewModel.Cart>
@{
	ViewBag.Title = "Cart";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<eCommerceProject.Models.Size> Size = ViewBag.GioHang;
}

<!-- breadcrumb -->
<div class="container">
	<div class="bread-crumb flex-w  p-t-30 p-lr-0-lg">
		<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">
			Shoping Cart
		</span>
	</div>
</div>



<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
	<div class="container">

		<div class="row">
			@if (Model != null && Model.Count() > 0)
			{
				<div class="col-lg-12 col-xl-8 m-lr-auto m-b-50">
					<div class=" m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Quantity</th>
									<th class="column-4">Total</th>
									<th class="column-5"></th>

								</tr>
								@if (Model != null && Model.Count() > 0)
								{
									foreach (var item in Model)
									{
										<tr class="table_row">
											<td class="column-1">
												<div class="how-itemcart1">

													@foreach (var photo in item.Product.ImageProducts.GroupBy(x => x.FileName).First())
													{
														<img src="@Url.Content(photo.FileName)" alt="IMG-PRODUCT">


													}

												</div>
											</td>
											<td class="column-2">
												@item.Product.ProductName
												(	@foreach (var size in ViewBag.Size)
												{
													if (size.Id == item.SizeId)
													{
														<strong>@size.SizeName</strong>
													}
												})
												<input class="mtext-104 cl3 txt-center num-product txtSize" type="hidden" value="@item.SizeId" />
											</td>
											<td class="column-3">

												<div class="wrap-num-product flex-w m-l-auto m-r-0">

													<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
														<i class="fs-16 zmdi zmdi-minus"></i>
													</div>

													<input class="mtext-104 cl3 txt-center num-product txtQuantity" type="number" value="@item.amount" data-id="@item.Product.Id" />


													<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
														<i class="fs-16 zmdi zmdi-plus"></i>
													</div>

												</div>


												@*<div style="padding-top:10px;"><button type="submit"><i class="fa fa-refresh" aria-hidden="true"></i></button></div>*@


											</td>

											<td class="column-4">
												@(Convert.ToDecimal(item.Product.PriceSale * item.amount).ToString("#,##0").Replace(',', '.')) VND
												@*@item.TotalMoney.ToString("#,##0").Replace(',', '.') VNĐ*@

											</td>


											<td class="column-6">
												<span data-id="@item.Product.Id" class="btn-delete"><i class="text-muted fa-solid fa fa-trash" style=" cursor:pointer"></i></span>

											</td>
										</tr>

									}
								}
							</table>
						</div>

						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m m-r-20 m-tb-5">
								
							</div>

							<div id="btnUpdate" class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
								Update Cart
							</div>
						</div>
					</div>
				</div>
			}
			else
			{

				

				<div class="container">
					<div class="row h-100">
						<div class="col-sm-12 align-self-center">
							<div class="  w-25 mx-auto">
								<h2> "YOUR CART IS EMPTY"</h2>
								<br />
								<img style="height: 250px" src="https://cdn-icons-png.flaticon.com/512/4555/4555971.png" />
							</div>
						</div>
					</div>
				</div>
			}
			@if (Model != null && Model.Count() > 0)
			{
				<div class="col-sm-12 col-lg-6 col-xl-4 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63  ">
						<h5 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h5>

						<div class="row">

							<div class="size-208 col-4">
								<span class="stext-110 cl1">
									x @Model.Sum(m => m.amount)
								</span>
							</div>

							<div class="size-209 col-8">
								<span class="mtext-110 cl2">
									@Model.Sum(m => m.TotalMoney).ToString("#,##0").Replace(',', '.') VND
								</span>
							</div>
						</div>

						<i class="stext-111 cl6 p-t-2">
							Apply voucher to use the promo!
						</i>
						<hr />
						<div class="row p-t-27 p-b-33">
							<div class="col-4">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>

							<div class="col-8">
								<span class="mtext-110 cl2">
									@Model.Sum(m => m.TotalMoney).ToString("#,##0").Replace(',', '.') VND
								</span>
							</div>
						</div>
						@if (Request.IsAuthenticated)
						{
							@*@Html.ActionLink("Checkout", "Index", "Checkout", new { @class= "flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer" })*@
							<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
								<a style="text-decoration: none; background-color: none; color: white " href="/Checkout/Index/">Checkout</a>
							</button>

						}
						else
						{

							<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
								<a style="text-decoration: none; background-color: none; color:white" href="/Account/Login/">Login</a>
							</button>

						}

					</div>
				</div>
			}


		</div>







	</div>

</form>




@section Scripts{
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		//update cart



		// remove cart
		function remove(SanPhamID) {
			swal({
				title: "Are you sure?",
				text: "Once deleted, you will not be able to recover your image!",
				icon: "warning",
				buttons: true,
				dangerMode: true,
			})
				.then((willDelete) => {
					event.preventDefault()
					if (willDelete) {
						$.ajax({
							type: "POST",
							url: "/Cart/DeleteProduct/" + SanPhamID,
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							success: function (response) {
								swal("Delete Success!", {
									icon: "success",
								}).then(function () {
									window.location.replace("/Cart/");
								});

							},
							failure: function (response) {
								swal("Delete Success!", {
									icon: "success",
								}).then(function () {
									window.location.replace("/Cart/");
								});
							},
							error: function (response) {
								swal("Delete Success!", {
									icon: "success",
								}).then(function () {
									window.location.replace("/Cart/");
								});
							}

						});

					}
					else {
						swal("Let's Continue!");
					}
				});
		}
	</script>
	<script>
		var cart = {
			init: function () {
				cart.regEvents();
			},
			regEvents: function () {
				$('#btnContinue').off('click').on('click', function () {
					window.location.href = "/";
				});
				$('#btnPayment').off('click').on('click', function () {
					window.location.href = "/Cart/Payment";
				});
				$('#btnUpdate').off('click').on('click', function () {
					var listProduct = $('.txtQuantity');
					var size = $('.txtSize').val();
					var cartList = [];
					$.each(listProduct, function (i, item) {
						cartList.push({
							amount: $(item).val(),
							sizeId: size,
							Product: {
								ID: $(item).data('id')

							}
						});
					});

					$.ajax({
						url: '/Cart/Update',
						data: { cartModel: JSON.stringify(cartList) },
						dataType: 'json',
						type: 'POST',
						success: function (res) {
							if (res.status == true) {
								window.location.href = "/Cart";
							}
						}
					})
				});

				$('#btnDeleteAll').off('click').on('click', function () {


					$.ajax({
						url: '/Cart/DeleteAll',
						dataType: 'json',
						type: 'POST',
						success: function (res) {
							if (res.status == true) {
								window.location.href = "/Cart";
							}
						}
					})
				});

				$('.btn-delete').off('click').on('click', function (e) {

					swal({
						title: "Are you sure?",
						text: "Once deleted, you will not be able to recover your image!",
						icon: "warning",
						buttons: true,
						dangerMode: true,
					})
						.then((willDelete) => {
							event.preventDefault()
							if (willDelete) {
								$.ajax({
									data: { id: $(this).data('id') },
									url: '/Cart/Delete',
									dataType: 'json',
									type: 'POST',
									success: function (res) {
										if (res.status == true) {
											window.location.href = "/Cart";
										}
									}

								});

							}
							else {
								swal("Let's Continue!");
							}
						});
				});
			}
		}
		cart.init();

		function remove(SanPhamID) {
			swal({
				title: "Are you sure?",
				text: "Once deleted, you will not be able to recover your image!",
				icon: "warning",
				buttons: true,
				dangerMode: true,
			})
				.then((willDelete) => {
					event.preventDefault()
					if (willDelete) {
						$.ajax({
							type: "POST",
							url: "/Cart/DeleteProduct/" + SanPhamID,
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							success: function (response) {
								swal("Delete Success!", {
									icon: "success",
								}).then(function () {
									window.location.replace("/Cart/");
								});

							},
							failure: function (response) {
								swal("Delete Success!", {
									icon: "success",
								}).then(function () {
									window.location.replace("/Cart/");
								});
							},
							error: function (response) {
								swal("Delete Success!", {
									icon: "success",
								}).then(function () {
									window.location.replace("/Cart/");
								});
							}

						});

					}
					else {
						swal("Let's Continue!");
					}
				});
		}
	</script>
}