@model eCommerceProject.ViewModel.MuaHangVM
@{
	ViewData["Title"] = "Mua hàng";
	Layout = "~/Views/Shared/_BlankLayout.cshtml";
	<link href="~/Content/mainNew.css" rel="stylesheet" />
	List<eCommerceProject.ViewModel.Cart> Carts = ViewBag.GioHang;
}
@*@section Styles{
		<style type="text/css">
			.nice-select .list {
				border-radius: 0px;
				overflow-y: auto;
				overflow: hidden;
				max-height: 200px;
				overflow-y: scroll;
			}

			.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
				color: red;
				background: none;
			}
		</style>
	}




	<main class="main-content">
			<div class="container h-100">
				<div class="row h-100">
					<div class="col-lg-12">
						<div class="breadcrumb-item">
							<h2 class="breadcrumb-heading">CHECKOUT</h2>
							<ul>
								<li>
									<a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
								</li>
								<li>CHECKOUT</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		<div class="checkout-area section-space-y-axis-100">
			<div class="container">
				@using (Html.BeginForm("Index", "Checkout", FormMethod.Post))
				{


						<div class="row">
							<div class="col-lg-6 col-12">

								<div class="checkbox-form">
									<h3>THÔNG TIN ĐƠN HÀNG</h3>
									<div class="row">
										<div class="col-md-12">
											<div class="checkout-form-list">
												<label>Họ và Tên</label>
												@Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
											</div>
										</div>
										<div class="col-md-12">
											<div class="checkout-form-list">
												<label>Số điện thoại <span class="required">*</span></label>
												@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
											</div>
										</div>
										<div class="col-md-12">
											<div class="checkout-form-list">
												<label>Địa chỉ nhận hàng <span class="required">*</span></label>
												@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
											</div>
										</div>
										<div class="col-md-12">
											<div class="checkout-form-list">
												<label>Ghi Chú <span class="required">*</span></label>
												@Html.TextBoxFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-12">
								<div class="your-order">
									<h3>THÔNG TIN ĐƠN HÀNG</h3>
									<div class="your-order-table table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th class="cart-product-name">SẢN PHẨM</th>
													<th class="cart-product-total">THÀNH TIỀN</th>
												</tr>
											</thead>
											<tbody>
												@if (Carts.Count() > 0)
												{
													foreach (var item in Carts)
													{
														<tr class="cart_item">
															<td class="cart-product-name">
																@item.Product.ProductName<strong class="product-quantity">
																	× @item.amount
																</strong>
															</td>
															<td class="cart-product-total"><span class="amount">@item.TotalMoney.ToString("#,##0") VNĐ</span></td>
														</tr>
													}
												}


											</tbody>
											<tfoot>
												<tr class="order-total">
													<th>GIÁ TRỊ ĐƠN HÀNG</th>
													<td><span class="amount">@Carts.Sum(x => x.TotalMoney).ToString("#,##0") VNĐ</span></td>
												</tr>

											</tfoot>
										</table>
									</div>
									<h5 style="color:red">Vui lòng chọn hình thức thanh toán</h5>
									<div class="payment-method">
										<div class="payment-accordion">
											<div id="accordion">
												<div class="card">
													<div class="card-header" id="#payment-1">
														<h5 class="panel-title">
															<a href="javascript:void(0)" class="" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
																Thanh toán khi giao hàng (COD)
															</a>
														</h5>
													</div>
													<div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
														<div class="card-body">
															<p>
																Khách hàng sẽ thanh toán khi nhận hàng
															</p>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="#payment-2">
														<h5 class="panel-title">
															<a href="javascript:void(0)" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">
																Chuyển khoản qua ngân hàng
															</a>
														</h5>
													</div>
													<div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
														<div class="card-body">
															<p>
																Thông tin tài khoản ngân hàng
															</p>
															<p>Chủ tài khoản: Dương Phương Duy</p>
															<p>Số tài khoản: 0963102916 - Ngân hàng VietcomBank</p>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="#payment-3">
														<h5 class="panel-title">
															<a href="javascript:void(0)" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
																Thanh toán qua MOMO
															</a>
														</h5>
													</div>
													<div id="collapseThree" class="collapse" data-bs-parent="#accordion">
														<div class="card-body">
															<p>Thông tin MOMO</p>
															<p>Chủ tài khoản: Dương Phương Duy</p>
															<p>Số điện thoại: 0963102916</p>

														</div>
													</div>
												</div>
											</div>
											<div class="order-button-payment">
												<input value="XÁC NHẬN ĐẶT HÀNG" type="submit">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}

				</div>
		</div>
	</main>*@

<link href="~/Content/myAccount.css" rel="stylesheet" />


<div class="col-lg-12 pt-10">
	<div class="breadcrumb-item">
		<h2 class="breadcrumb-heading">CHECKOUT</h2>
		<ul>
			<li>
				<a href="/">Home <i class="pe-7s-angle-right"></i></a>
			</li>
			<li>CHECKOUT</li>
		</ul>
	</div>
</div>


<div class="checkout-main-area pt-30 pb-30">
	<div class="container">
		@using (Html.BeginForm("Payment", "Checkout", FormMethod.Post, new { id = "myform" }))
		{

			@*<div class="customer-zone mb-20">
					<p class="cart-page-title">Have a coupon? <a class="checkout-click3" href="#">Click here to enter your code</a></p>
					<div class="checkout-login-info3">
						<form action="#">
							<input type="text" placeholder="Coupon code">
							<input type="submit" value="Apply Coupon">
						</form>
					</div>
				</div>*@
			<div class="checkout-wrap pt-30">
				<div class="row">
					<div class="col-lg-7">
						<div class="billing-info-wrap mr-50">
							<h3>Billing Details</h3>
							<div class="row">
								@*<div class="col-lg-6 col-md-6">
										<div class="billing-info mb-20">
											<label>First Name <abbr class="required" title="required">*</abbr></label>
											<input type="text">
										</div>
									</div>*@
								<div class="col-lg-12 col-md-12">
									<div class="billing-info mb-20">
										<label>Name <abbr class="required" title="required">*</abbr></label>
										@Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
									</div>
								</div>
								<div class="col-lg-12">
									<div class="billing-info mb-20">
										<label>Phone Number <abbr class="required" title="required">*</abbr></label>
										@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
									</div>
								</div>

								<div class="col-lg-12">
									<div class="billing-info mb-20">
										<label>Street Address <abbr class="required" title="required">*</abbr></label>
										@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })

									</div>
								</div>
								<div class="additional-info-wrap">
									<label>Order notes</label>
									@Html.TextAreaFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
								</div>


							</div>



						</div>
					</div>
					<div class="col-lg-5">
						<div class="your-order-area">
							<h3>Your order</h3>
							@if (Carts.Count() > 0)
							{

								<div class="your-order-wrap gray-bg-4">
									<div class="your-order-info-wrap">

										<div class="your-order-info">
											<ul>
												<li>Product <span>Total</span></li>
											</ul>
										</div>
										@foreach (var item in Carts)
										{
											<div class="your-order-middle">
												<ul>
													<li>
														<a style="word-wrap: break-word;">
															@item.Product.ProductName<strong class="product-quantity">
																(	@foreach (var size in ViewBag.Size)
																{
																	if (size.Id == item.SizeId)
																	{
																		<strong>@size.SizeName</strong>
																	}
																})
																× @item.amount
															</strong>
														</a>
														<span>@item.Product.PriceSale.ToString("#,##0") VNĐ</span>
													</li>

												</ul>
											</div>

											<div class="your-order-info order-subtotal">
												<ul>
													<li>Subtotal <span>@item.TotalMoney.ToString("#,##0") VNĐ </span></li>
												</ul>
											</div>
										}
										@*<div class="your-order-info order-shipping">
												<ul>
													<li>
														Shipping <p>Enter your full address </p>
													</li>
												</ul>
											</div>*@
										<div class="your-order-info order-total">
											<ul>
												<li>Total <span>@Carts.Sum(x => x.TotalMoney).ToString("#,##0") VNĐ </span></li>
											</ul>
										</div>

									</div>
									<div class="payment-method">
										@*<div class="pay-top sin-payment">
												<input id="payment_method_1" class="input-radio" type="radio" value="cheque" checked="checked" name="payment_method">
												<label for="payment_method_1"> Direct Bank Transfer </label>
												<div class="payment-box payment_method_bacs">
													<p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
												</div>
											</div>
											<div class="pay-top sin-payment">
												<input id="payment-method-2" class="input-radio" type="radio" value="cheque" name="payment_method">
												<label for="payment-method-2">Check payments</label>
												<div class="payment-box payment_method_bacs">
													<p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
												</div>
											</div>*@
										<div class="pay-top sin-payment">
											@Html.RadioButtonFor(model => model.PaymentMethod, "COD", new { @checked= "true"})

											<label for="cod">Cash on delivery </label>
											<div class="payment-box payment_method_bacs">
												<p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
											</div>
										</div>

										<div class="pay-top sin-payment sin-payment-3">
											@Html.RadioButtonFor(model => model.PaymentMethod, "VNPAY")

											<label for="vnpay">VNPAY <img style="height:20px" src="https://i0.wp.com/discvietnam.com/wp-content/uploads/2020/07/C%E1%BB%95ng-thanh-to%C3%A1n-VNPAY-Logo-Th%E1%BA%BB-ATM-T%C3%A0i-kho%E1%BA%A3n-ng%C3%A2n-h%C3%A0ng-Online-Banking-M%C3%A3-QR-QR-Pay-Qu%C3%A9t-QR-Transparent.png?fit=360%2C140&ssl=1"><a href="#">What is VNPAY?</a></label>
											<div class="payment-box payment_method_bacs">
												<p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
											</div>
										</div>
									</div>
								</div>

								<div class="Place-order">
									<a onclick="document.getElementById('myform').submit()">Place Order</a>
									

								</div>


							}
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>
<noscript>
	<input type="submit" value="Submit form!" />
</noscript>