
@using Microsoft.AspNet.Identity
@{
	ViewBag.Title = "Dashboard";
	Layout = "~/Views/Shared/_BlankLayout.cshtml";
	List<eCommerceProject.Models.Order> DanhSachDonHang = ViewBag.DonHang;
	var total = DanhSachDonHang.Sum(x => x.TotalMoney).ToString("#,##0");
	var username = User.Identity.GetUserName();
}

<div class="my-account-wrapper pt-50 pb-120">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- My Account Page Start -->
				<div class="myaccount-page-wrapper">
					<!-- My Account Tab Menu Start -->
					<div class="row">
						<div class="col-lg-3 col-md-4">
							<div class="myaccount-tab-menu nav" role="tablist">
								<a href="#dashboad" class="active" data-toggle="tab">

									Dashboard
								</a>
								<a href="#orders" data-toggle="tab"> Orders</a>

								<a href="#payment-method" data-toggle="tab">
									Payment
									Method
								</a>
								
								
								<a href="login-register.html"> Logout</a>
							</div>
						</div>
						<!-- My Account Tab Menu End -->
						<!-- My Account Tab Content Start -->
						<div class="col-lg-9 col-md-8">
							<div class="tab-content" id="myaccountContent">
								<!-- Single Tab Content Start -->
								<div class="tab-pane fade show active" id="dashboad" role="tabpanel">
									<div class="myaccount-content">
										<h3>Dashboard</h3>
										<div class="welcome">
											<p>Hello, <strong>@username</strong> (If Not <strong>@username !</strong><a href="login-register.html" class="logout"> Logout</a>)</p>
										</div>

										<p class="mb-0">From your account dashboard. you can easily check & view your recent orders, manage your shipping and billing addresses and edit your password and account details.</p>
									</div>
								</div>
								<!-- Single Tab Content End -->
								<!-- Single Tab Content Start -->
								<div class="tab-pane fade" id="orders" role="tabpanel">
									<div class="myaccount-content">
										<h3>Orders</h3>
										@if (DanhSachDonHang != null && DanhSachDonHang.Count() > 0)
										{
											<div class="myaccount-table table-responsive text-center">
												<table class="table table-bordered">
													<thead class="thead-light">
														<tr>
															<th>Order</th>
															<th>Date</th>
															<th>Status</th>
															<th>Total</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
														@foreach (var item in DanhSachDonHang)
														{
															int i = 1;
															<tr>
																<td>@item.OrderId</td>
																<td>@item.OrderDate</td>
																<td>@item.TransactStatus.Status</td>
																<td>@item.TotalMoney.ToString("#,##0") VND</td>
																<td>

																	<a href="@Url.Action("Details","OrderView",new {id=item.OrderId})" class="check-btn sqr-btn ">View</a>
																	
																</td>
															</tr>
														}
													</tbody>
													Total Money Order: @total VND
												</table>
											</div>
										}
										else
										{
											<p>No Order in here!</p>
										}
									</div>
								</div>
								<!-- Single Tab Content End -->
								<!-- Single Tab Content Start -->
								<!-- Single Tab Content End -->
								<!-- Single Tab Content Start -->
								<div class="tab-pane fade" id="payment-method" role="tabpanel">
									<div class="myaccount-content">
										<h3>Payment Method</h3>
										<p class="saved-message">You Can't Saved Your Payment Method yet.</p>
										<div class="row">
											<img class="form-control col-md-4 p-r-100" style="width:250px; height:150px; object-fit: cover;" src="https://png.pngtree.com/png-vector/20220723/ourmid/pngtree-logo-cash-on-delivery-bayar-ditempat-cod-tangan-pegang-uang-rupiah-png-image_6034023.png" />
											<img class="form-control col-md-4" style="width:250px; height:150px; object-fit: cover;" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBd2w2SHc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--998573548f2a95e4b349ffbf42cfb623613039fd/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVFJc0FXa0NMQUU9IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--ee4e4854f68df0a745312d63f6c2782b5da346cd/logo%20VNPAY-02.png" />

										</div>
										</div>
								</div>
								<!-- Single Tab Content End -->
								<!-- Single Tab Content Start -->
								<div class="tab-pane fade" id="address-edit" role="tabpanel">
									<div class="myaccount-content">
										<h3>Billing Address</h3>
										<address>
											<p><strong>Alex Tuntuni</strong></p>
											<p>
												1355 Market St, Suite 900 <br>
												San Francisco, CA 94103
											</p>
											<p>Mobile: (123) 456-7890</p>
										</address>
										<a href="#" class="check-btn sqr-btn "><i class="fa fa-edit"></i> Edit Address</a>
									</div>
								</div>
								<!-- Single Tab Content End -->
								<!-- Single Tab Content Start -->
								<div class="tab-pane fade" id="account-info" role="tabpanel">
									<div class="myaccount-content">
										<h3>Account Details</h3>
										<div class="account-details-form">
											<form action="#">
												<div class="row">
													<div class="col-lg-6">
														<div class="single-input-item">
															<label for="first-name" class="required">First Name</label>
															<input type="text" id="first-name" />
														</div>
													</div>
													<div class="col-lg-6">
														<div class="single-input-item">
															<label for="last-name" class="required">Last Name</label>
															<input type="text" id="last-name" />
														</div>
													</div>
												</div>
												<div class="single-input-item">
													<label for="display-name" class="required">Display Name</label>
													<input type="text" id="display-name" />
												</div>
												<div class="single-input-item">
													<label for="email" class="required">Email Addres</label>
													<input type="email" id="email" />
												</div>
												<fieldset>
													<legend>Password change</legend>
													<div class="single-input-item">
														<label for="current-pwd" class="required">Current Password</label>
														<input type="password" id="current-pwd" />
													</div>
													<div class="row">
														<div class="col-lg-6">
															<div class="single-input-item">
																<label for="new-pwd" class="required">New Password</label>
																<input type="password" id="new-pwd" />
															</div>
														</div>
														<div class="col-lg-6">
															<div class="single-input-item">
																<label for="confirm-pwd" class="required">Confirm Password</label>
																<input type="password" id="confirm-pwd" />
															</div>
														</div>
													</div>
												</fieldset>
												<div class="single-input-item">
													<button class="check-btn sqr-btn ">Save Changes</button>
												</div>
											</form>
										</div>
									</div>
								</div> <!-- Single Tab Content End -->
							</div>
						</div> <!-- My Account Tab Content End -->
					</div>
				</div> <!-- My Account Page End -->
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script>
    $(document).ready(function () {
        $(".xemdonhang").click(function () {
            var madonhang = $(this).attr("data-madonhang")
            $.ajax({
                url: '/OrderView/Details',
                datatype: "json",
                type: "POST",
                data: { id: madonhang },
                async: true,
                success: function (results) {
                    $("#records_table").html("");
                    $("#records_table").html(results);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
    });
	</script>
}