@model PagedList.IPagedList<eCommerceProject.Models.BlogPost>
@using PagedList.Mvc;

@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-header">
	<h2 class="header-title">Blog List</h2>
	<div class="header-sub-title">
		<nav class="breadcrumb breadcrumb-dash">
			<a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
			<a class="breadcrumb-item" href="#">Blog</a>
			<span class="breadcrumb-item active">Blog List</span>
		</nav>
	</div>
</div>
<p>
	@Html.ActionLink("Create New", "Create")
</p>
<div class="container">
	@foreach (var item in Model)
	{
		<div class="card" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; ">
			<div class="card-body">
				<div class="row">
					<div class="col-md-4">
						<img class="img-fluid" style="object-fit:cover; " src="@Url.Content(@item.ImagePath)" alt="">
					</div>
					<div class="col-md-8">
						<h4 class="m-b-10">@item.Title</h4>
						<div class="d-flex align-items-center m-t-5 m-b-15">
							<div class="avatar avatar-image avatar-sm">
								<img src="~/assets/images/avatars/thumb-2.jpg" alt="">
							</div>
							<div class="m-l-10">
								<span class="text-gray font-weight-semibold">@item.User.FullName</span>
								<span class="m-h-5 text-gray">|</span>
								<span class="text-gray">@item.CreateDate</span>
							</div>
						</div>
						<p class="m-b-20" style="width: 500px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.ShortContents</p>
						<div class="text-right">
							@Html.ActionLink("Read More", "Details", new { id = item.Id }, new { @class = "btn btn-hover font-weight-semibold" })
						</div>
					</div>

				</div>
			</div>
		</div>

	}
	<div class="m-t-30">
		<nav>
			<ul class="pagination justify-content-center">

				
				<li class="page-item active">@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, search = Request.QueryString["search"], filter = Request.QueryString["filter"] }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })</li>
				
			</ul>
		</nav>
	</div>
</div>
